<div class="paroi-form scrollable">
    {{#unless form.fields.length}}
        <p class="hint paroi-centered">{{localize form.placeholder}}</p>
    {{/unless}}
    {{#each form.fields}}
        <div class="form-group" data-name="{{name}}" data-section="form">
            <fieldset class="form-field">
                <legend>
                    <label>{{localize label}}</label>
                </legend>
                {{#each inputs}}
                    <div class="form-input">
                        {{#if (eq type "folder")}}
                            <div class="folder-display" data-name="{{name}}">
                                <div class="tags input-element-tags">
                                    {{#each value}}
                                        <div class="tag" data-key="{{this}}">
                                            <span>{{this}}</span>
                                            <a class="remove fa-solid fa-xmark" data-action="removeFolder" data-path="{{this}}" data-tooltip="ELEMENTS.TAGS.Remove" aria-label="Remove Tag"></a>
                                        </div>
                                    {{/each}}
                                </div>
                            </div>
                            <div class="folder-input" data-name="{{name}}">
                                <input type="text" name="{{name}}" id="{{id}}" placeholder="{{hint}}">
                                <button type="button" class="folder-input-button" data-name="{{name}}" data-action="addFolder">
                                    <i class="fas fa-plus"></i>
                                </button>
                                <button type="button" class="folder-input-button" data-name="{{name}}" data-action="browseFolder">
                                    <i class="fas fa-file-import"></i>
                                </button>
                            </div>
                        {{/if}}
                    </div>
                {{/each}}
            </fieldset>
        </div>
    {{/each}}
</div>